# Dependencies
node_modules/
.pnpm-store/

# Env
.env
.env.*
!.env.example

# Build outputs
dist/
build/
.out/
.next/
coverage/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS / IDE
.DS_Store
.idea/
.vscode/

# Tooling
.turbo/
